<h6>This is an example of a Rich text editor called quill-editor</h6>

<form [formGroup]="form">
  <!-- <mat-form-field>
    <input matInput formControlName="note" placeholder="Hello Carol">
  </mat-form-field> -->
  <quill-editor theme="snow" formControlName="note" [modules]="{toolbar: true}" placeholder="Note"></quill-editor>
  <mat-error *ngIf="!form.get('note').pristine">
    <div>
      A note is required! {{form.get('note').hasError('required')}}
    </div>
  </mat-error>
</form>
<div [innerHTML]="form.get('note').value"></div>
{{form.value | json}}
